<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.launchkey.android.whitelabel.demo">

    <!-- GCM-required package-based permissions -->
    <permission
        android:name="com.launchkey.android.whitelabel.demo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.launchkey.android.whitelabel.demo.permission.C2D_MESSAGE" />
    <!-- All other GCM-required permissions are part of the SDK manifest and will be merged here -->


    <!-- Required package-specific permissions by Google Maps for Android -->
    <permission
        android:name="com.launchkey.android.whitelabel.demo.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.launchkey.android.whitelabel.demo.permission.MAPS_RECEIVE"/>
    
    <application
        android:name=".app.DemoApplication"
        tools:replace="android:name, android:theme"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_orange"
        android:label="@string/app_name"
        android:theme="@style/DemoAppTheme"
        >

        <activity
            android:name=".ui.activity.ListDemoActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.GenericFragmentDemoActivity"
            />

        <activity
            android:name=".ui.activity.AuthRequestActivity"
            android:label="@string/demo_activity_authrequest_title"
            android:theme="@style/DemoAppTheme"
            />

        <activity
            android:name=".ui.activity.CustomSecurityActivity"
            android:label="@string/demo_activity_list_feature_security_custom"
            android:theme="@style/DemoAppTheme"
            />

        <!-- GCM-related receiver and service -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.launchkey.android.whitelabel.demo" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.launchkey.android.whitelabel.demo.push.PushListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="com.launchkey.android.whitelabel.demo.push.PushIdInstanceListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <service
            android:name="com.launchkey.android.whitelabel.demo.push.PushRegIntentService"
            android:exported="false">
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Google Maps v2 API KEY - same Google Dev Console project as GCM -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/authenticator_googlemapsv2_key"/>
    </application>
</manifest>
